/**********************************************************************
*********************************************************************** 
***Style for index.html 
***********************************************************************
***********************************************************************/

.index {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./resources/pic/blue-matrix-animated.gif);
    background-color: #cccccc;
}

.center {
    text-align: center;
    color: #DE1B1B;
    font-size: 100%;
    text-shadow: 2px 2px #ff0000;
    position: relative;
    top: 200px;
}

.center a:link {
    color: #A8CD1B;
    text-decoration: none;
}

.center a:visited {
    color: #A8CD1B;
}

.center a:hover {
    color: #DE1B1B;
    font-weight: bold;
}

.center a:active {
    color: #A8CD1B;
}

.name {
    color: #DE1B1B;
    font-size: 800%;
    text-shadow: 5px 5px #A8CD1B;
}


/**********************************************************************
*********************************************************************** 
***Style for resume.html 
***********************************************************************
***********************************************************************/

nav {
    background-color: rgba(#2b2b2b, 0.1);
    font-family: 'Press Start 2P', cursive;
}

body {
    background: #2C3D51;
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    background-image: url(./resources/pic/blue-matrix-animated.gif);
}

section {
    display: block;
    max-width: 800px;
    background: #2b2b2b;
    margin: 0 auto 1em;
    padding: 10px;
    border-radius: .2em;
    position: relative;
    font-family: 'Press Start 2P', cursive;
    color: #F6F6F6;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.header {
    margin-top: 50px;
}

.header h1 {
    color: #DE1B1B;
    padding-top: 10px;
    font-family: 'Black Ops One', cursive;
    font-size: 400%;
    margin: 0;
}

.header .col-sm-8 {
    padding-left: 20px;
    padding-top: 20px;
    color: #F6F6F6;
    font-size: x-small;
}

.header a:link {
    color: #F6F6F6;
    text-decoration: none;
}

.header a:visited {
    color: purple;
}

.header a:hover {
    background-color: #DE1B1B;
    font-weight: bold;
}

.header a:active {
    color: #A8CD1B;
}

section h3,
section dt {
    color: #E9E581;
    font-size: large;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #DE1B1B;
    border-bottom-width: thick;
}

.glyphicon-education {
    font-size: 2em;
}

section dd h4 {
    color: #A8CD1B;
}

section dd h5 {
    color: gray;
    font-style: italic;
}

.skills img {
    max-width: 60px;
    max-height: 60px;
}
